name: 'Unit Tests'
on:
  push:
    branches: 
      - 'main'

  workflow_dispatch:

permissions:
  checks: write

jobs:
  unit-test:
    name: 'Unit Test'
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v5

      - name: 'Setup Deno'
        uses: denoland/setup-deno@v2
        with:
          deno-version: 'v2.x'
      
      - name: 'Run Tests'
        run: deno task test

      - name: 'Generate jUnit Report'
        uses: mikepenz/action-junit-report@v6
        if: success() || failure()
        with:
          report_paths: 'reports/report.xml'
